header {
    z-index: 1000;
    background-color: #D3B88C;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 2px outset #230903;
    border-top: 1px solid #230903;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    /* padding-top: 5px; */
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#headerHome {
    order: 0;
    left: 0;
}

#mainName {
    order: 1;
    margin: 0 auto;
}

body {
    padding-top: 12px;
    padding-bottom: 40px;
    background-color: wheat;
}

footer {
    background-color: #9EBC9F;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-top: 1px outset #230903;
}