{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ .title }}</title>
        <link rel="icon" href="/static/images/sopp.webp" type="image/x-icon">
        <link rel="stylesheet" href="/static/style.css">
        <script src="/static/js/main.js" defer></script>
        {{ block "script" . }}{{ end }}
    </head>
    
    <body>
        <header id="header">
            <h1 id="mainName"> {{ .title }} </h1>
        </header>
        
        {{ block "content" . }}{{ end }}

        <footer>
            fsdome
        </footer>
    </body>
</html>
{{ end }}