{{ define "script"}}
<script src="/static/js/health.js" defer></script>
{{ end }}

{{ define "content" }}

<h1>Velkommen til helse-siden!</h1>
<ul>
    <li><a href="#" id="openBMICalc">{{ .bmi }}</a></li>
    <li><a href="#" id="openHealthKolesterol">Kolesterol Data</a></li>
</ul>
<p id="BMIcalc"></p>
<p id="healtKolesterol"></p>
<a href="/">Tilbake til forsiden</a>
<iframe width="560" height="315" src="https://www.youtube.com/embed/kQUtW810flg?si=Rh8Uh-JX212jcYJI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

{{ end }}
{{ template "base" . }}
