{{ define "script"}}
<link rel="stylesheet" href="/static/css/index.css">
<script src="/static/js/index.js" defer></script>
{{ end }}

{{ define "content" }}
  <h1 id="fromIndexControl.go"> {{ .message }} </h1>
  <h2 id="message"></h2>
  <button id="iframeYrButton" data-iframe-url="{{ .iframeURL }}">Dagens vær</button><br>
  <!-- <a href="#" id="iframeYrButton">Dagens vær</a> -->
  <a href="/health">Gå til Health-siden</a><br>
  <!-- TODO:<br>
    Lage postgreSQL database<br>
    Iframe av videokurs jeg ser aktivt på<br>
    Innlogging/registreing <br>
    Filopplasting, kun admin. Skal være go routine <br>
    Noe som lagrer besøkendes IP <br>
    Ende-ende kryptert chat <br>
    Lag en aksjekurs sjekker, og som kalkulerer opp og nedgang relativt til til og lag statisktikk på det. Lag en falsk kjøp og salg motor som ser om du vinner penger i lengden. <br>
    Finansdashboard / Portefølje-app

Structs: Account, Transaction, Stock.

Interface: Reportable med metoden Summary() string.

Goroutines: Hent aksjekurser eller valutakurser parallelt fra flere API-er → vis samlet resultat på dashboard.

Dette viser virkelig nytten av concurrency: data kommer raskere tilbake, og interfacet gjør at du kan bruke samme logikk for aksjer, kryptovaluta eller bankkontoer. -->
  <p id="iframeYr"></p><br>
  <iframe src="https://thepulse.onrender.com/" frameborder="0"></iframe>
{{ end }}
{{ template "base" . }}
