{{ define "script"}}
<link rel="stylesheet" href="/static/css/index.css">
<script type="module" src="/static/js/index.js" defer></script>
{{ end }}

{{ define "content" }}
  <h1 id="fromIndexControl.go"> {{ .message }} </h1>
  <h2 id="message"></h2>
  <button id="iframeYrButton" data-iframe-url="{{ .iframeURLdagensVaer }}">Dagens vær</button><br>
  <button id="buttonUkensVaerYr" data-iframe-url="{{ .ukensVaerURL }}">Ukens vær</button><br>
  <a href="/health">Gå til Health-siden</a><br>

    
  <p id="iframeYr"></p><br>
  <p id="contentUkensVaerYr"></p><br>
  <!-- <iframe src="https://thepulse.onrender.com/" frameborder="0" width="560" height="315"></iframe> -->
{{ end }}
{{ template "base" . }}
